

.my-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
    width: 50%;
    height: 350px;
    margin-left: -1.2%;
    /* margin-top: -1.2%; */
  }
  
  .card-title {
    font-size: 0.6rem;
    color: #797373;
    margin-top: -4%;
    margin-left: -3%;
    font-weight: bold;
  }
  .card-content{
    font-size: 0.6rem;
    color: #797373;
     margin-left: -2%;
     margin-top: -1%;
     font-weight: bold;
  }
  
 
  
  
  .apexcharts-canvas {
    border-radius: 10px; 
  }
  