
.sidebar {
    background-color: rgb(11, 11, 34);
    color: #fff;
    width: 225px;
    height: 150vh ;
  /* margin-top: -1.2%; */
    
  }
  .dropdown-buttonscan {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 46%;
   color: #fff;
  }
  .dropdown-buttonreport {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 44%;
   color: #fff;
   
  }
  .dropdown-buttonpatch {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 47%;
   color: #fff;
   
  }

  

  .dropdown-buttonadmin {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 28%;
   color: #fff;
   
  }
  .dropdown-buttonconfig{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 30%;
   color: #fff;
   
  }
  .dropdown-buttonresult {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 51%;
   color: #fff;
  }
  
  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin-left: 10px; 
  }
  
  .dropdown-menu li {
    cursor: pointer;
    padding: 5px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar-menu li:hover {
    background-color: #555;
  }
  