.table {
    display: block;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .header {
    display: flex;
  }
  
  .tr {
    display: flex;
  }
  
  .th {
    flex: 1;
    padding: 8px;
    background-color: #f2f2f2;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .td {
    flex: 1;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  