
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}


aside {
  background-color: #555;
  color: #fff;
  width: 200px;
  padding: 10px;
}


.main-content {
  flex: 1; 
  padding: 20px;
  background-color: #fff;
}


